CRM + Database Sync Automation.json
{
  "name": "CRM + Database Sync Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Join Us Today!",
        "formDescription": "Fill your details and we will contact you shortly",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Phone"
            },
            {
              "fieldLabel": "Company Name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "69a67fb1-eab4-4c9e-9625-96d183ed6fc6",
      "name": "On form submission",
      "webhookId": "8a3c6e65-a3b6-4693-8713-e5ad30ea7e62"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appssBBXphk2wrvob",
          "mode": "list",
          "cachedResultName": "crm",
          "cachedResultUrl": "https://airtable.com/appssBBXphk2wrvob"
        },
        "table": {
          "__rl": true,
          "value": "tblkZ8UZyGJh44Qyu",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appssBBXphk2wrvob/tblkZ8UZyGJh44Qyu"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.full_name }}",
            "Email": "={{ $json.email }}",
            "Company": "={{ $json.company_name }}",
            "Phone": "={{ $json.phone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High Priority",
                  "value": "High Priority"
                },
                {
                  "name": "Medium Priority",
                  "value": "Medium Priority"
                },
                {
                  "name": "Low Priority",
                  "value": "Low Priority"
                },
                {
                  "name": "No Action Needed",
                  "value": "No Action Needed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Relationship Summary",
              "displayName": "Relationship Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "d9e49aeb-c25b-4e85-ab39-1052e5b5451d",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "Az1gzPP6jtKUuCGC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "crm_users",
          "mode": "list",
          "cachedResultName": "crm_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "full_name": "={{ $json['Full Name'] }}",
            "phone": "={{ $json.Phone }}",
            "email": "={{ $json.Email }}",
            "company_name": "={{ $json['Company Name'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "63756d61-25e1-4f55-9fd8-da9e77e43bab",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "S7Siq0g8NhltUvOo",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "=Welcome ! {{ $json.fields.Name }}🎉",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px;\">    <div style=\"background-color: #2196F3; padding: 30px; border-radius: 8px 8px 0 0; text-align: center;\">     <h1 style=\"color: white; margin: 0;\">Welcome Aboard! 🎉</h1>   </div>    <div style=\"padding: 30px; border: 1px solid #ddd;\">     <p style=\"font-size: 16px;\">Dear <strong>{{ $json.fields.Name }}</strong>,</p>          <p>Thank you for joining us! We have received your information and our team will contact you shortly.</p>      <div style=\"background-color: #E3F2FD; padding: 15px; border-radius: 5px; margin: 20px 0;\">       <h3 style=\"color: #2196F3; margin-top: 0;\">Your Details:</h3>       <p>📧 Email: {{ $json.fields.Email }}</p>       <p>📞 Phone: {{ $json.fields.Phone }}</p>       <p>🏢 Company: {{ $json.fields.Company }}</p>     </div>      <p>What happens next?</p>     <ol>       <li>Our team reviews your request</li>       <li>We contact you within 24 hours</li>       <li>We schedule a call or demo</li>       <li>We get started! 🚀</li>     </ol>      <div style=\"background-color: #f9f9f9; padding: 15px; border-radius: 5px; margin-top: 20px;\">       <p style=\"margin: 0;\">📞 Questions? Contact us: <strong>minalkhadija1234@gmail.com</strong></p>     </div>   </div>    <div style=\"background-color: #2196F3; padding: 15px; border-radius: 0 0 8px 8px; text-align: center;\">     <p style=\"color: white; margin: 0;\">We are excited to work with you! 💼</p>   </div>  </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "026e33ee-6e98-45da-8116-6c5d008bf59e",
      "name": "Send a message",
      "webhookId": "74690016-efb5-4f37-881c-0f04c89cab89",
      "credentials": {
        "gmailOAuth2": {
          "id": "SgwyZH5pt7ejqqhw",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "dde2194b-4abe-4c6f-98a5-f02056979d6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fbc00d114bbd1def22ade720b498f533e608d11288af8ee44a6bbc5d1988e16e"
  },
  "id": "tpQGl7TmQVuuYAHD",
  "tags": []
}